/*----------------- @FONTFACE --------------*/
@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*=============================================
                    BODY
==============================================*/
body{
    background: #181f21;
    color: #6a8e9a;
    font-family: 'open_sanslight', 'Helvetica', 'Arial', sans-serif;
}

/*=============================================
                  RESETS
==============================================*/
h1{
    font-size: 2rem;
    text-transform: uppercase;
}
h2{
    font-size: 1.3rem;
    text-transform: uppercase;
    background: #245269;
    color: #eee;
    width: 100%;
    padding: 10px;
    border-left: 2px solid #FC29A3;
}
h3{
    text-transform: uppercase;
    border-bottom: 1px solid #101617;
    font-size: 1.2rem;
    padding: 0 0 5px 0;
}




/*=============================================
                    LOGIN BOX
==============================================*/
.loginbox{
    background: #101617;
    border-color: #333;
    width: 250px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -125px;
}
.loginbox h1{
    position: absolute;
    top: -50px;
    left: 35%;
}
.input-group .glyphicon{
    line-height: 0;
    position: relative;
    top: 0px;
}
.br{
    height: 7px;
}
.full-width{
    width: 100%;
}

/*=============================================
                   CONTENT BGs
==============================================*/
.bg-white{
    background: #eee;
    padding: 10px;
}
hr{
    border-bottom: 1px dashed #999;
}



/*=============================================
                   ARCHIVES
==============================================*/
.archiver-hold{
    text-align: center;
}
a.archiver{}

.border-left{border-left: 1px solid #ccc;}
.border-right{border-right: 1px solid #ccc;}

.bg-archive{
    background: #eee;
}
.archive-row{
    border-bottom: 2px solid #ccc;
    padding: 10px;
    margin: 0;
}
.actions-holder .btn{
    border-radius: 0;
}